@import 'tailwindcss';
@plugin 'daisyui';

/* 🧁 Light Theme */
@plugin "daisyui/theme" {
  name: 'foodiespace';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffead6;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);

  --color-primary: #c68a55;
  --color-primary-content: oklch(98% 0.01 240);

  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);

  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);

  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);

  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);

  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);

  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);

  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);



  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

}

/* 🌒 Dark Theme */
@plugin "daisyui/theme" {
  name: 'foodiespace-dark';
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #1c1c1c;
  --color-base-200: #222;
  --color-base-300: #2a2a2a;
  --color-base-content: oklch(96% 0.02 240);

  --color-primary: #c68a55;
  --color-primary-content: oklch(15% 0.01 250);

  --color-secondary: oklch(65% 0.18 190);
  --color-secondary-content: oklch(10% 0.02 190);

  --color-accent: oklch(70% 0.2 150);
  --color-accent-content: oklch(10% 0.01 150);

  --color-neutral: oklch(30% 0.03 250);
  --color-neutral-content: oklch(95% 0.02 250);

  --color-info: oklch(70% 0.15 220);
  --color-info-content: oklch(10% 0.01 220);

  --color-success: oklch(65% 0.22 140);
  --color-success-content: oklch(10% 0.02 140);

  --color-warning: oklch(80% 0.22 80);
  --color-warning-content: oklch(15% 0.02 80);

  --color-error: oklch(65% 0.25 20);
  --color-error-content: oklch(10% 0.02 20);



  --size-selector: 0.25rem;
  --size-field: 0.25rem;

}

.active {
  @apply bg-primary rounded-full text-white font-bold;
}
